<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency | {% block titulo_pagina %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/flat_remix.css">
    <link rel="stylesheet" href="/static/css/styles1.css">
    
    
</head>
<body>
    <header>
        <p>myCRYPTO</p>
    </header>
    <selction class="contenedor">
        <nav class="nav">
            <p>
            {% if disableInicio == Null %}<a href="/">Inicio</a> {% else %}<a class=inactivo >Inicio</a> {% endif %}
            {% if disablePurchase == Null %}
                <a href="/purchase">Compra</a>
            {% else %}
                <a class="inactivo">Compra</a>
            {% endif %}
            {% if disableStatus == Null %}
                <a href="/status">Status</a>
            {% else %}
                <a class="inactivo">Estado</a>
            {% endif %}
            </p>
        </nav>
        
        {% with mesajes = get_flashed_messages() %}
            {% for mensaje in mensajes %}
            <p class="error">{{ mensaje }}</p>
            {% endfor %}
        {% endwith %}    
        {% block contenido_pagina %}{% endblock %}
    </selction>
    <footer>
        <p>
            &copy; 2021 - Todos los derechos reservados
        </p>
    </footer>
</body>
</html>