{% extends 'base.html' %}

{% block titulo_pagina %} Compra {% endblock %}

{% block contenido_pagina %}

            <h1>Compra de CRYPTOS</h1>

            <form action="/purchase" method="post">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.date.date}}
                    {{ form.date }}

                    {{ form.time.date }}
                    {{ form.time }}
                    
                    
                   {{ form.moneda_from.label() }}
                   {{ form.moneda_from() }}
                   {% for message in get_flashed_messages() %}
                   <div  class=flash>{{ message }}</div>
                       {% endfor %}
                   
                   
                   {{ form.moneda_to.label() }}
                    {{ form.moneda_to() }}
                </div>
                   
                   
                <div>
                    {{ form.cantidad_from.label() }}
                    {{ form.cantidad_from(placeholder="¿Cuanto quieres invertir?") }}
                    {% for error in form.cantidad_from.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                  
                    {{ form.calculator() }}
                
                
                <div> 
                    {{ form.cantidad_to.label() }}
                    {{ form.cantidad_toH.data }} 
                    {{ form.cantidad_toH()}} 
                    

                </div>
                
                <div>  
                    {{ form.pu.label() }}
                    {{ form.puH.data }}
                    {{ form.puH()}}
                </div>    
              
                    {{ form.submit()}}
                
            </form>
                 
            
            
{% endblock%}