{% extends 'base.html' %}

{% block titulo_pagina %} Compra {% endblock %}

{% block contenido_pagina %}

            <h1>Compra de CRYPTOS</h1>

            <form action="/purchase" method="post">
                {{ form.hidden_tag() }}
                <div class="campo-formulario">
                    {{ form.date.data}}
                    {{ form.date() }}
                    {{ form.time.date }}
                    {{ form.time() }}
                    
                   {{ form.moneda_from.label() }}
                   {{ form.moneda_from() }}
                   {{ form.moneda_to.label() }}
                    {{ form.moneda_to() }}
                    {% for error in form.moneda_to.errors %}
                    <p class="error">{{ error }}</p>
                    {% endfor %}
                </div>
                   
                <div class="formulario">
                    {{ form.cantidad_from.label() }}
                    {{ form.cantidad_from(placeholder="¿Cuanto quieres invertir?") }}
                    {% for error in form.cantidad_from.errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                  
                    {{ form.calculator() }}
 
                <div> 
                    {{ form.cantidad_to.label() }} 
                    {{ form.cantidad_toH.data }} 
                    {{ form.cantidad_toH()}} 

                </div>
                <div>  
                    {{ form.pu.label() }}
                    {{ form.puH.data }}
                    {{ form.puH()}}
                </div>    
              
                    {{ form.submit()}}
                
            </form>
            
                  
                  
            
            <label></label>
{% endblock%}