{% extends 'base.html' %}

{% block titulo_pagina %} Compra {% endblock %}

{% block contenido_pagina %}

            <h1>Estado de la inversión</h1>

            <form action="/status" method="post">
                  {{ form.hidden_tag() }}
                <div class="estado">
                   {{ form.invest.label() }}
                   {{ form.investH.data }}
                   {{ form.investH() }}
                </div>
                <div class="estado"> 
                   
                   {{ form.estado.label() }}
                   {{ form.estadoH.data}}
                   {{ form.estadoH() }}

                </div>
                {% for message in get_flashed_messages() %}
                    <div  class=flash>{{ message }}</div>
                        {% endfor %}
                    
                
                
            </form>
                 
            
            
{% endblock%}