


h1{
    width: 650px; 
    margin: auto; 
    text-align:center;
    margin-bottom: 70px;
    margin-top: 70px;
    color:silver;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:normal;
    font-size: 50px;
    border-bottom:solid 3px whitesmoke;
}
.nav {
    margin: 0 15px 0 0;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
.contenedor{
    overflow: hidden;
    background-color: #333;
}

body{
    background-image: url("https://www.wallpaperuse.com/wallp/80-807163_m.jpg");
    
   
}
.form{
    margin: auto; 
    text-align:center;
    
}
div{
    margin: auto; 
    text-align:center;
    color:white;
    font-size: 15px;
    
     
}
label{
    margin: auto; 
    text-align:center;
    color: white;
    
    

}
#submit {
    margin: auto; 
    
}

#calculator {
    margin:auto;
    background-image: url("https://www.freepik.es/vector-gratis/ilustracion-maquina-calculadora_2606086.htm#page=1&query=calculadora&position=1&from_view=search");
    
}

.paper{
    margin: auto; 
    text-align:center
    
}


.button2{
    border-radius: 4px;
    font-weight: bold;
    color: #FFF;
    margin-top: 7px;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 120px;
    border: 3px solid grey;
    background: #E5F1F2;
    line-height: 40px;
    display: block;
    transition: border .2s .2s, text-shadow .2s .2s, background .2s .2s, transform .2s, color .2s .2s, box-shadow .2s;
    text-transform: capitalize;
}

table {
    width: 70%;
    border: 1px solid grey;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
    border-radius: 25px;
 }
 caption, td, th {
    padding: 0,2em;
    background-color: #E5F1F2;
    color:grey;
    
 }
 th, td {
    border-bottom: 2px solid white;
    width: 15%;
    height: auto;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

 }
 .boton1{
    float:right;
    margin-right: 400px;
    margin-bottom: 0px;
    margin-top: 20px;
    

 }
 .boton{
    position: absolute;
    margin-left: 400px;
    margin-top: 20px;
    font-size: 15px;
 }
 caption {
    font-weight: bold;
    font-style: italic;
    
}
.sinmov {
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    margin-bottom: 50px;
}

footer {
    margin-top: 150px ;
    color: white;
    font-size: 15px;
    margin-left: 15px;
}

.error{
    color: darkred;
    font-size: 0.8rem;
    font-weight: blond;
}
.flash {
    color: darkred;
    font-size: 1rem;
    font-weight: blond;
}
.inactivo{
    color: white;
    
}

header {
    font-size: 20px;
    color: white;
    margin-left: 15px;
    
}
.estado{
    font-size: 25px;
}